<h2>Nouvelle recommandation de lecture</h2>

<%= form_tag "/reading_recommendations/new", method: :post do %>
  <p>Titre : <input type="text" name="title" /> <i><%= @recommendation.errors[:title].first %></i></p>
  <p>Contenu : <textarea name="content"></textarea> <i><%= @recommendation.errors[:content].first %></i></p>
  <input type="submit" value="Enregistrer la recommandation" />
<% end %>