<% @recommendations.each do |reco| %>
	<section class=reco.type>
		<article>
			<header>
				<h2><%= reco.title %></h2>
			</header>
			<%= reco.content %>
			<footer>
			</footer>
		</article>
		<aside>
		</aside>
<% end %>