<section>
	<article>
		<header>
			<%= @recommendation.user.username %>
			<h1><%= @recommendation.title %></h1>
		</header>
		<%= @recommendation.content %>
		<footer>
		</footer>
	</article>
	<aside>
	</aside>
</section>