/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	--main-reading-reco-color: #16a085;
	--main-watching-reco-color: #f1c40f;
	--main-light-background-color: #bdc3c7;
	--main-dark-background-color: #7f8c8d;
}

.ReadingRecommendation {
	--main-type-reco-color: #16a085;
}

.WatchingRecommendation {
	--main-type-reco-color: #f1c40f;
}

.notice {
	padding: 0.3cm;
	background-color: #2ecc71;
	color: white;
	font-weight: bold;
}

.alert {
	padding: 0.3cm;
	background-color: #e74c3c;
	color: white;
	font-weight: bold;
}

article {
	border-style: solid;
	border-color: var(--main-type-reco-color, var(--main-dark-background-color));	
	border-radius: 15px;
	overflow: hidden; /* permet de cacher ce qui dépasse du bord, et donc à border-radius de fonctionner correctement (d'un point de vue esthétique) avec border-color */
	margin-bottom: 0.3cm; /* ajoute un espace externe à la bordure en dessous de chaque article */
	background-color: white;
	color: var(--main-type-reco-color, black)
}


article header {
	background-color: var(--main-type-reco-color, var(--main-dark-background-color));
	color: white;
	padding: 6px;
	margin-bottom: 10px;
}

article footer {
	background-color: var(--main-light-background-color);
	color: white;
	padding: 6px;
	margin-top: 10px;
}

